
.button {
  color:            $dark;
  border:           1px solid $light;
  padding:          .8rem 1.6rem;
  display:          inline-block;
  font-size:        1.6rem;
  transition:       all .2s ease-in-out;
  will-change:      color, background-color, border-color, box-shadow; 
  border-radius:    .4rem;
  text-decoration:  none;
  background-color: $light;
  &:hover, &:active, &:focus {
    color:            $dark;
    outline:          none;
    box-shadow:       0 3px 6px rgba($dark, 0.16), 0 3px 6px rgba($dark, 0.23);    
    text-decoration:  none;
  }
  &:active { background-color: shade($light, 10); }
  
  &.button-primary {
    color:            $white;
    border-color:     $primary;
    background-color: $primary;
    &:hover { box-shadow: 0 3px 6px rgba($primary, 0.16), 0 3px 6px rgba($primary, 0.23); }   
    &:active { background-color: shade($primary, 10); }
    
    &.outline { 
      color:            $primary;
      background-color: transparent;
      &:hover, &:active {
        color: $white;
        background-color: $primary;
      }
      &:active { background-color: shade($primary, 10); }
    }
  }

  &.button-accent {
    color:            $white;
    border-color:     $accent;
    background-color: $accent;
    &:hover {
      box-shadow: 0 3px 6px rgba($accent, 0.16), 0 3px 6px rgba($accent, 0.23); 
    }   
    &:active { background-color: shade($accent, 10); }
    
    &.outline { 
      color:            $accent;
      background-color: transparent;
      &:hover, &:active {
        color: $white;
        background-color: $accent;
      }
      &:active { background-color: shade($accent, 10); }
    }
  }

  &.wide {
    padding: .8rem 3.2rem;
  }
}

.buttons {
  .button {
    margin-right: 1.6rem;
    &:last-child { margin-right: 0; }
  }
}