<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  
  <title>{% block title %}Title{% endblock %}</title>

  <meta name="description" content="{% block description %}Description{% endblock %}">
  <meta name="keywords" content="">
  <meta name="author" content="">

  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" type="image/png" href="./images/icons/favicon.png" />

  {% block styles %} 
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="./css/vendor.min.css">
  {% endblock %}  
</head>
<body id="top">

  {% block header %} 
  <header role="banner">
    {% block nav %} 
    <nav role="navigation"></nav>
    {% endblock %}
  </header>
  {% endblock %}


  {% block main %}
  {#<main role="main" class="">#}
  <main role="main" class="side-header-margin">
  
  {% block content %}CONTENT{% endblock %}
  
  {% block footer %}{% include "partials/footer.njk" %}{% endblock %}
  </main>
  {% endblock %}


  {% block scripts %} 
  <script src="./js/vendor.min.js"></script>
  <script src="./js/main.js"></script>
  {% endblock %}
</body>
</html>