/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-app-store {
  background-image: url(sprites.png);
  background-position: 0px 0px;
  width: 512px;
  height: 512px;
}
.icon-arrow-down {
  background-image: url(sprites.png);
  background-position: -512px 0px;
  width: 512px;
  height: 512px;
}
.icon-arrow-left {
  background-image: url(sprites.png);
  background-position: 0px -512px;
  width: 512px;
  height: 512px;
}
.icon-arrow-right {
  background-image: url(sprites.png);
  background-position: -512px -512px;
  width: 512px;
  height: 512px;
}
.icon-arrow-up {
  background-image: url(sprites.png);
  background-position: -1024px 0px;
  width: 512px;
  height: 512px;
}
.icon-mac {
  background-image: url(sprites.png);
  background-position: -1024px -512px;
  width: 512px;
  height: 512px;
}
.icon-quote {
  background-image: url(sprites.png);
  background-position: 0px -1024px;
  width: 512px;
  height: 512px;
}
.icon-web {
  background-image: url(sprites.png);
  background-position: -512px -1024px;
  width: 512px;
  height: 512px;
}
.icon-windows {
  background-image: url(sprites.png);
  background-position: -1024px -1024px;
  width: 512px;
  height: 512px;
}
.icon-youtube {
  background-image: url(sprites.png);
  background-position: -1536px 0px;
  width: 512px;
  height: 512px;
}
