/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$app_store_name = 'app-store';
$app_store_x = 0px;
$app_store_y = 0px;
$app_store_offset_x = 0px;
$app_store_offset_y = 0px;
$app_store_width = 512px;
$app_store_height = 512px;
$app_store_total_width = 2048px;
$app_store_total_height = 1536px;
$app_store_image = 'sprites.png';
$app_store = 0px 0px 0px 0px 512px 512px 2048px 1536px 'sprites.png' 'app-store';
$arrow_down_name = 'arrow-down';
$arrow_down_x = 512px;
$arrow_down_y = 0px;
$arrow_down_offset_x = -512px;
$arrow_down_offset_y = 0px;
$arrow_down_width = 512px;
$arrow_down_height = 512px;
$arrow_down_total_width = 2048px;
$arrow_down_total_height = 1536px;
$arrow_down_image = 'sprites.png';
$arrow_down = 512px 0px -512px 0px 512px 512px 2048px 1536px 'sprites.png' 'arrow-down';
$arrow_left_name = 'arrow-left';
$arrow_left_x = 0px;
$arrow_left_y = 512px;
$arrow_left_offset_x = 0px;
$arrow_left_offset_y = -512px;
$arrow_left_width = 512px;
$arrow_left_height = 512px;
$arrow_left_total_width = 2048px;
$arrow_left_total_height = 1536px;
$arrow_left_image = 'sprites.png';
$arrow_left = 0px 512px 0px -512px 512px 512px 2048px 1536px 'sprites.png' 'arrow-left';
$arrow_right_name = 'arrow-right';
$arrow_right_x = 512px;
$arrow_right_y = 512px;
$arrow_right_offset_x = -512px;
$arrow_right_offset_y = -512px;
$arrow_right_width = 512px;
$arrow_right_height = 512px;
$arrow_right_total_width = 2048px;
$arrow_right_total_height = 1536px;
$arrow_right_image = 'sprites.png';
$arrow_right = 512px 512px -512px -512px 512px 512px 2048px 1536px 'sprites.png' 'arrow-right';
$arrow_up_name = 'arrow-up';
$arrow_up_x = 1024px;
$arrow_up_y = 0px;
$arrow_up_offset_x = -1024px;
$arrow_up_offset_y = 0px;
$arrow_up_width = 512px;
$arrow_up_height = 512px;
$arrow_up_total_width = 2048px;
$arrow_up_total_height = 1536px;
$arrow_up_image = 'sprites.png';
$arrow_up = 1024px 0px -1024px 0px 512px 512px 2048px 1536px 'sprites.png' 'arrow-up';
$mac_name = 'mac';
$mac_x = 1024px;
$mac_y = 512px;
$mac_offset_x = -1024px;
$mac_offset_y = -512px;
$mac_width = 512px;
$mac_height = 512px;
$mac_total_width = 2048px;
$mac_total_height = 1536px;
$mac_image = 'sprites.png';
$mac = 1024px 512px -1024px -512px 512px 512px 2048px 1536px 'sprites.png' 'mac';
$quote_name = 'quote';
$quote_x = 0px;
$quote_y = 1024px;
$quote_offset_x = 0px;
$quote_offset_y = -1024px;
$quote_width = 512px;
$quote_height = 512px;
$quote_total_width = 2048px;
$quote_total_height = 1536px;
$quote_image = 'sprites.png';
$quote = 0px 1024px 0px -1024px 512px 512px 2048px 1536px 'sprites.png' 'quote';
$web_name = 'web';
$web_x = 512px;
$web_y = 1024px;
$web_offset_x = -512px;
$web_offset_y = -1024px;
$web_width = 512px;
$web_height = 512px;
$web_total_width = 2048px;
$web_total_height = 1536px;
$web_image = 'sprites.png';
$web = 512px 1024px -512px -1024px 512px 512px 2048px 1536px 'sprites.png' 'web';
$windows_name = 'windows';
$windows_x = 1024px;
$windows_y = 1024px;
$windows_offset_x = -1024px;
$windows_offset_y = -1024px;
$windows_width = 512px;
$windows_height = 512px;
$windows_total_width = 2048px;
$windows_total_height = 1536px;
$windows_image = 'sprites.png';
$windows = 1024px 1024px -1024px -1024px 512px 512px 2048px 1536px 'sprites.png' 'windows';
$youtube_name = 'youtube';
$youtube_x = 1536px;
$youtube_y = 0px;
$youtube_offset_x = -1536px;
$youtube_offset_y = 0px;
$youtube_width = 512px;
$youtube_height = 512px;
$youtube_total_width = 2048px;
$youtube_total_height = 1536px;
$youtube_image = 'sprites.png';
$youtube = 1536px 0px -1536px 0px 512px 512px 2048px 1536px 'sprites.png' 'youtube';
$spritesheet_width = 2048px;
$spritesheet_height = 1536px;
$spritesheet_image = 'sprites.png';
$spritesheet_sprites = $app_store $arrow_down $arrow_left $arrow_right $arrow_up $mac $quote $web $windows $youtube;
$spritesheet = 2048px 1536px 'sprites.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
