
//  FONTS
$primary-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default;

//  COLORS
$primary:       #03A9F4;
$primary-light: #B3E5FC;
$primary-dark:  #0288D1;
$accent:        #FF5252;
$dark:          #333;
$light:         #f0f0f0;
$white:         #ffffff;
$gray:          #BDBDBD;
$gray-dark:     #757575;

$colors: (
  'primary':       $primary,            
  'primary-light': $primary-light,
  'primary-dark':  $primary-dark,  
  'accent':        $accent,              
  'dark':          $dark,                  
  'light':         $light,                
  'white':         $white,                
  'gray':          $gray,                  
  'gray-dark':     $gray-dark  
);

//  BREAKPOINTS
$breakpoints: (
  'small':  320px,
  'medium': 768px,
  'large':  1024px,
) !default;

// SIZES
$pm-sizes: (
  xs:   .4rem,
  sm:   .8rem,
  md:   1.6rem,
  lg:   3.2rem,
  xl:   4.8rem,
  xxl:  6.4rem,
  xxxl: 8rem,
  vl:   11.2rem
);

$coords: (
  top, bottom, left, right
);