extends ../templates/layout.pug

block append vars
  - var pageTitle = "Inicio"

block header
  +active('inicio')

block content
  //- PLACEHOLDER CONTENT
  .container
    #inicio inicio
    #acerca acerca de
    #servicios servicios
    #contacto contacto
  //- PLACEHOLDER CONTENT
    