{% extends "layout.njk" %}

{% block title %}Inicio | VAluminium{% endblock %}

{# COMMENTS #}
{% block header %}
  {% import './macros/header-nav.njk' as nav %}
  {{nav.active('inicio')}}
{% endblock %}


{% block content %}

<!-- HERO -->
<section id="hero" class="hero vegas">
  <div class="vegas-content hero-content wow fadeIn" data-wow-duration="3s">
    <h1 class="hero-title">Transformando el <span class="primary-color">mañana</span>.</h1>
  </div>
  <a data-scroll href="#comercializacion" class="scroll-icon"><i class="fi flaticon-down-arrow"></i></a>
  <div id="home-hero-slideshow" class="vegas-container"></div>
</section>
<!-- HERO -->


<!-- NOSOTROS/PREGUNTAS FRECUENTES -->
<section id="nosotros" class="va-section">
  <div class="va-container">
    <div class="row">
      <div class="col-md-6 wow fadeInLeft">
        <h3 class="va-section-subtitle">Nosotros</h3>
        <p class="va-section-text">Somos una empresa facilitadora de materias primas, semi elaborados y productos terminados del aluminio, que aprovecha
          su profunda experiencia en la industria, la logística, y los movimientos del mercado internacional para ofrecer
          a sus clientes la solución que mejor se adapte a sus necesidades.</p>
        <p class="va-section-text">Fundada en el año 2007 por el Grupo Vergara para ser parte de su Holding comercial ha logrado consolidarse a
          nivel internacional gracias a su trabajo eficiente y transparente, logrando asi el reconocimiento de grandes
          compañias como Mitsubishi Corporation, Glenkore, Marubeni, Noblez america, entre otras.</p>
        <p class="va-section-text">Este crecimiento ha permitido emplear a mas de 800 personas, y mantener un compromiso filantropico en retribución
          ha todos los logros obtenidos, siendo canalizados en su mayoría por la Fundación LaLa en Guayana.</p>
      </div>
      <div class="col-md-6 wow fadeInRight">
        <h3 class="va-section-subtitle">Preguntas frecuentes</h3>

        <div class="panel-group accordion-container" id="preguntas-frecuentes-accordion" role="tablist" aria-multiselectable="true">

          <!-- tab1 -->
          <div class="panel panel-default accordion-tab base">
            <div class="panel-heading accordion-header active" role="tab" id="tab1">
              <h4 class="panel-title accordion-title">
                <div class="box"></div>
                <a role="button" data-toggle="collapse" data-parent="#preguntas-frecuentes-accordion" href="#collapse1" aria-expanded="true"
                  aria-controls="collapse1">¿Que clase de aluminio Primario comercializamos?</a>
              </h4>
            </div>
            <div class="panel-collapse accordion-body collapse in" id="collapse1" role="tabpanel" aria-labelledby="tab1">
              <p class="panel-body">Nuestra compañía ofrece aluminio primario con valor superior o igual a 99,7% Pureza, también ofrecemos
                lotes de calidad P2535 y Alto Hierro, todos en presentaciones de Lingotes de 22,5Kg, pailas de 420Kg
                y 680Kg.</p>
            </div>
          </div>
          <!-- tab1 -->

          <!-- tab2 -->
          <div class="panel panel-default accordion-tab base">
            <div class="panel-heading accordion-header" role="tab" id="tab2">
              <h4 class="panel-title accordion-title">
                <div class="box"></div>
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#preguntas-frecuentes-accordion" href="#collapse2"
                  aria-expanded="false" aria-controls="collapse2">¿Con que clase de mecanismos de Pago trabajamos?</a>
              </h4>
            </div>
            <div class="panel-collapse accordion-body collapse" id="collapse2" role="tabpanel" aria-labelledby="tab2" aria-expanded="false">
              <p class="panel-body">Trabajamos con anticipos, y pagos contra entrega a la copia original del documento de embarque.</p>
            </div>
          </div>
          <!-- tab2 -->

          <!-- tab3 -->
          <div class="panel panel-default accordion-tab base">
            <div class="panel-heading accordion-header" role="tab" id="tab3">
              <h4 class="panel-title accordion-title">
                <div class="box"></div>
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#preguntas-frecuentes-accordion" href="#collapse3"
                  aria-expanded="false" aria-controls="collapse3">¿A que sector dirigimos nuestros esfuerzos?</a>
              </h4>
            </div>
            <div class="panel-collapse accordion-body collapse" id="collapse3" role="tabpanel" aria-labelledby="tab3" aria-expanded="false">
              <p class="panel-body">Nuestra política de inclusión permite que tanto pequeños como medianos consumidores accedan en igualdad
                de condiciones a las ofertas de material, sin embargo nos enfocamos en solventar las necesidades de sectores
                de gran Consumo.</p>
            </div>
          </div>
          <!-- tab3 -->
        </div>

      </div>
    </div>
  </div>
</section>
<!-- NOSOTROS/PREGUNTAS FRECUENTE -->


<!-- VIDEO CALIDAD  -->
<section id="video-calidad" class="vegas layer-overlay">
  <div class="vegas-content">
    <div class="va-container text-center">
      <h2 class="video-calidad-title"><span class="primary-color">Aluminio</span> de calidad.</h2>
      <h3 class="video-calidad-subtitle">Nuestro compromiso es entregarle lo mejor a nuestros clientes.</h3>
    </div>
  </div>
  <div id="home-calidad-video-bg" class="vegas-container"></div>
</section>
<!-- VIDEO CALIDAD-->


<!-- COMERCIALIZACION -->
<section id="comercializacion" class="va-section base-bg">
  <div class="va-container">
    <h2 class="va-section-title">Comercialización</h2>

    <div class="row">

      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="hex-card">
          <div class="hex-card-icon-container">
            <div class="hex-card-icon">
              <i class="fi flaticon-info icon"></i>
              <i class="fi flaticon-hexagon hex"></i>
            </div>
          </div>
          <div class="hex-card-content">
            <h3 class="hex-card-title">Excelente atención</h3>
            <p class="hex-card-text">Ofrecemos atención las 24 horas del dia a través de nuestro sistema de formularios en linea, atendiendo todas
              las <i>letter of intention</i> enviadas por cada empresa interesada en nuestros productos.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12" data-wow-delay=".2s">
        <div class="hex-card">
          <div class="hex-card-icon-container">
            <div class="hex-card-icon">
              <i class="fi flaticon-team icon"></i>
              <i class="fi flaticon-hexagon hex"></i>
            </div>
          </div>
          <div class="hex-card-content">
            <h3 class="hex-card-title">Proveedores</h3>
            <p class="hex-card-text">Poseemos una cartera de proovedores a nivel mundial que nos permite responder de forma rápida y eficiente
              a todos los requerimientos de nuestros clientes, lo cual nos permite mover grandes cantidades de material
              al año.</p>
          </div>
        </div>
      </div>

      <div class="clearfix visible-md"></div>

      <div class="col-lg-4 col-md-6 col-sm-12" data-wow-delay=".4s">
        <div class="hex-card">
          <div class="hex-card-icon-container">
            <div class="hex-card-icon">
              <i class="fi flaticon-ship icon"></i>
              <i class="fi flaticon-hexagon hex"></i>
            </div>
          </div>
          <div class="hex-card-content">
            <h3 class="hex-card-title">Condiciones de entrega</h3>
            <p class="hex-card-text">Con el fin de satisfacer las necesidades de nuestros clientes, estamos en capacidad de cerrar contratos bajo
              la modalidad EXW, FCA, FAS, FOB, CFR, CIF, DDP.</p>
          </div>
        </div>
      </div>

      <div class="clearfix visible-lg"></div>

      <div class="col-lg-4 col-md-6 col-sm-12" data-wow-delay=".6s">
        <div class="hex-card">
          <div class="hex-card-icon-container">
            <div class="hex-card-icon">
              <i class="fi flaticon-quality icon"></i>
              <i class="fi flaticon-hexagon hex"></i>
            </div>
          </div>
          <div class="hex-card-content">
            <h3 class="hex-card-title">Productos</h3>
            <p class="hex-card-text">Somos una empresa comprometida con todos nuestros clientes, por lo tanto nuestros productos han sido concebidos
              con los más altos estándares de calidad.</p>
          </div>
        </div>
      </div>

      <div class="clearfix visible-md"></div>

      <div class="col-lg-4 col-md-6 col-sm-12" data-wow-delay=".8s">
        <div class="hex-card">
          <div class="hex-card-icon-container">
            <div class="hex-card-icon">
              <i class="fi flaticon-stats icon"></i>
              <i class="fi flaticon-hexagon hex"></i>
            </div>
          </div>
          <div class="hex-card-content">
            <h3 class="hex-card-title">LME</h3>
            <p class="hex-card-text">Nuestra compañía ha mantenido un perfil de transparencia en los valores de comercialización para lo cual
              siempre ha tomado como referencia los precios internacionales de la <i>london metal exchance</i>.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12" data-wow-delay="1s">
        <div class="hex-card">
          <div class="hex-card-icon-container">
            <div class="hex-card-icon">
              <i class="fi flaticon-global icon"></i>
              <i class="fi flaticon-hexagon hex"></i>
            </div>
          </div>
          <div class="hex-card-content">
            <h3 class="hex-card-title">Logística</h3>
            <p class="hex-card-text">Contamos con grandes aliados para el transporte y manejo de la carga a nivel internacional, lo cual nos brinda
              una ventaja competitiva en materia de precios y eficiencia en el cumplimiento de nuestros compromisos con
              el cliente.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- COMERCIALIZACION -->


<!-- TESTIMONIOS -->
<section class="va-section image-bg fixed" style="background-image:url(./images/testimonials/4.jpg)">
  <div class="va-container">
    <div class="col-md-6"></div>
    <div class="col-md-6 ">
      <div class="testimonial-box">

        <div class="swiper-container swiper-home-testimonials">
          <div class="swiper-wrapper">

            {% for testimonial in home.testimonials %}
              <div class="swiper-slide testimonial">
                <p class="quote">{{testimonial.cita}}</p>
                <h4 class="nombre">{{testimonial.nombre}}</h4>
                <p class="cargo">{{testimonial.cargo}}</p>
              </div>
            {% endfor %}

          </div>
          <div class="swiper-home-testimonials-buttons">
            <div class="swiper-home-testimonials-button-prev"><i class="fi flaticon-left-arrow"></i></div>
            <div class="swiper-home-testimonials-button-next"><i class="fi flaticon-right-arrow"></i></div>
          </div>
        </div>

      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</section>
<!-- TESTIMONIOS-->


<!--NOTICIAS-->
<section class="va-section light-bg">
  <div class="va-container">
    <h2 class="va-section-title">Noticias Valuminium</h2>
    <ul>
      <li class="items-new">
        <div>
          <a href="#" class="content-new-img"><img src="./images/news/1.jpg" class="img-responsive"></a>
          <div class="title-new">
            <h3> <a href="">titulo</a></h3>
            <p>contenido previo de la noticia...</p>
          </div>
        </div>
      </li>
      <li class="items-new">
        <div>
          <a href="#"><img src="./images/news/1.jpg" class="img-responsive"></a>
          <div class="title-new">
            <h3> <a href="">titulo</a></h3>
            <p>contenido previo de la noticia...</p>
          </div>
        </div>
      </li>
      <li class="items-new">
        <div>
          <a href="#"><img src="./images/news/1.jpg" class="img-responsive"></a>
          <div class="title-new">
            <h3> <a href="">titulo</a></h3>
            <p>contenido previo de la noticia...</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  
</section>
<!--NOTICIAS-->


<!--SUSCRIPCION-->
<section id="home-suscription" class="va-section vegas layer-overlay">
  <div class="vegas-content">
    <div class="va-container">

      <div class="col-md-6">
        <h2 class="primary-color bold font-32">Suscripción:</h2>
        <p class="light-color">Diligencie sus datos en las siguientes casillas para suscribirse a nuestras noticias e informes sobe disponibilidad de material, si usted califica a nuestros requisitos procederemos a mantfenerlo informado.</p>
        <p class="light-color">Si esta interesado en respuestas concretas lo invitamos a revisar los formularios para comprar o suministrar material en la sección de clientes y proveedores.</p>
      </div>

      <div class="col-md-6">
        <form class="va-form">
          <h3 class="light-color va-form-title">Me gustaria discutir sobre:</h3>

          <div class="va-form-group form-group">
            <select class="va-form-control form-control" id="suscription-select">
              <option value="Planificacion Empresarial">Planificacion Empresarial</option>
              <option value="Auditoria & Asesoria">Auditoria & Asesoria</option>
              <option value="Estrategia De Planeacion">Estrategia De Planeacion</option>
              <option value="Trades & Stocks">Trades & Stocks</option>
            </select>
          </div>

          <div class="va-form-group form-group">
            <input class="va-form-control form-control" placeholder="Nombre Completo">
          </div>

          <div class="va-form-group form-group">
            <input class="va-form-control form-control" placeholder="Número Telefonico">
          </div>

          <p class="tex">
            <button type="submit" class="va-form-action">Enviar<i class="fi flaticon-right-arrow margin-left-xs"></i></button>
          </p>
        </form>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div id="home-suscription-video-bg" class="vegas-container"></div>
</section>
<!--SUSCRIPCION-->

{% endblock %}